{% extends 'layout.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}


{% block content %}
    <div class="text-center bg-light p-5">
        <h1 class='border-bottom p-1'>Page d'accueil</h1>

        <div class="container">
            <img src="assets/images/img1.png" alt="logo">

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Vero consequatur aliquam, cupiditate velit libero
                architecto minus eligendi eius dignissimos debitis 
                voluptates, odit in. Voluptatibus cum sequi eaque 
                distinctio ex porro minima autem, sunt consectetur 
                aperiam unde totam, hic quia provident laboriosam, 
                quae suscipit. Porro rem veritatis exercitationem, 
                nostrum repudiandae blanditiis.
            </p>
            <img src="assets/images/img1.png" alt="logo">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Vero consequatur aliquam, cupiditate velit libero
                architecto minus eligendi eius dignissimos debitis 
                voluptates, odit in. Voluptatibus cum sequi eaque 
                distinctio ex porro minima autem, sunt consectetur 
                aperiam unde totam, hic quia provident laboriosam, 
                quae suscipit. Porro rem veritatis exercitationem, 
                nostrum repudiandae blanditiis.
            </p>
        </div>

    </div>
{% endblock %}
