*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Times New Roman', Times, serif!important;
}
/* body {
    background-color: #f7eeee!important;
} */
a{
    padding: 0;
}
.btn_p{
    transition: all 0.3s ease-in-out;
}
.btn_p:hover{
    border-bottom: 2px solid crimson;
}

@media screen and (max-width: 768px ) {
    .card{
        width: 80%!important;      
    }
}